# SENSITVE DATA - DO NOT COMMIT TO GIT
# 1. Private Key da sua carteira de Deploy (MetaMask -> Detalhes da Conta -> Exportar Chave Privada)
# Use uma carteira de teste SEM fundos reais importantes!
PRIVATE_KEY=sua_chave_privada_aqui_sem_aspas

# 2. RPC URL da Sepolia
# Você pode usar este público ou pegar um grátis no Alchemy/Infura para ser mais rápido
SEPOLIA_RPC_URL=https://rpc.sepolia.org
